<!DOCTYPE html>
<html lang="en" class="app">
    <head>
    	
        <meta charset="utf-8">
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>Instano | Hit Stores Around</title>
        <meta name="description" content="Instano is a virtual shopping platform that provides a common place for shoppers and retailers to close the best deal subject to customers preferences: pricing and proximity.">
        <meta name="keywords" content="instano, virtual, shopping, deal, pricing, proximity, products, brands, android, app, bargain">
        <meta name="robots" content="index, nofollow">
        
		<!-- Favicons -->
        <link rel="shortcut icon" href="images/favicon.png">
        <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
        
		<!-- CSS -->
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="css/animate.css">
        <link rel="stylesheet" type="text/css" href="css/instano.css">

        <!-- Fonts & Icons -->
        <link rel="stylesheet" type="text/css" href="css/font.css">
        <link rel="stylesheet" type="text/css" href="css/icon.css">
        <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
		
    </head>

    <body class="">
        
        <section class="vbox">
            
            <header class="bg-white header header-md navbar navbar-fixed-top-xs box-shadow">
                
                <div class="navbar-header aside dk">
                    <a href="index.html" class="navbar-brand">
                        <img src="images/logo.png" class="m-r-sm" alt="instano">
                    </a>
                    <a class="btn btn-link visible-xs" data-toggle="dropdown" data-target=".user">
                        <i class="fa fa-cog"></i>
                    </a>
                </div>
      
                
                <ul class="nav navbar-nav navbar-right m-n hidden-xs nav-user user">
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="thumb-sm avatar pull-left">
                                <img src="images/1.jpg" alt="...">
                            </span>
                            Vedant Agarwala <b class="caret"></b>
                        </a>

                        <ul class="dropdown-menu animated fadeInRight">            
                            <li>
                                <span class="arrow top"></span>
                                <a href="index.html">Dashboard</a>
                            </li>
                            
                            <li>
                                <a href="profile.html">Profile</a>
                            </li>
                            
                            <li>
                                <a href="categories.html">Categories</a>
                            </li>
                            
                            <li class="divider"></li>
                            
                            <li>
                                <a href="signin.html">Logout</a>
                            </li>
                        </ul>
                    </li>
            
                </ul>      
            
            </header>

            <section class="hbox stretch">
                        
                <aside class="aside-lg bg-light lter b-r">
                        
                    <section class="vbox">
                    
                        <section class="scrollable">
                                    
                            <div class="wrapper">
                                    
                                <section class="panel no-border bg-dark lt m-b-none">
                                           
                                    <div class="panel-body">
                                            
                                        <div class="row m-t-xl">
                                                    
                                            <div class="col-xs-3 text-right padder-v"></div>
                                            
                                            <div class="col-xs-6 text-center">
                                            
                                                <div class="inline">
                                                
                                                    <div class="thumb-lg avatar">
                                                        <img src="images/1.jpg" class="dker">
                                                    </div>
                                                
                                                    <div class="h4 m-t m-b-xs font-bold text-lt">Vedant Agarwala</div>
                                                
                                                </div>
                                            
                                            </div>
                                            
                                            <div class="col-xs-3 padder-v"></div>
                                        
                                        </div>
                                            
                                        <div class="wrapper m-t m-b">
                                                
                                            <div class="row m-b">
                                                        
                                                <div class="col-xs-6 text-right">
                                                    <small>Contact No.</small>
                                                    <div class="text-lt font-bold">01234567890</div>
                                                </div>
                                                        
                                                <div class="col-xs-6">
                                                    <small>Email</small>
                                                    <div class="text-lt font-bold">contact@instano.in</div>
                                                </div>
                                                    
                                            </div>
                                                
                                            <div class="row m-b">
                                            
                                                <div class="col-xs-12 text-center">
                                                    <small>Shop Name</small>
                                                    <div class="text-lt font-bold">Instano - Hit Stores Around</div>
                                                </div>
                                            
                                            </div>

                                            <div class="row">
                                            
                                                <div class="col-xs-12 text-center">
                                                    <small>Address</small>
                                                    <div class="text-lt font-bold">123, Koramangala, Bangalore</div>
                                                </div>
                                            
                                            </div>
                                                
                                        </div>
                                            
                                    </div>
                                        
                                    <footer class="panel-footer dk text-center no-border">
                                
                                        <div class="row pull-out">
                        
                                            <div class="col-xs-6">
                        
                                                <div class="padder-v">
                                                    <span class="m-b-xs h3 block text-white">24</span>
                                                    <small class="text-muted">Brands</small>
                                                </div>
                        
                                            </div>
                        
                                            <div class="col-xs-6 dker">
                        
                                                <div class="padder-v">
                                                    <span class="m-b-xs h3 block text-white">5</span>
                                                    <small class="text-muted">Categories</small>
                                                </div>
                        
                                            </div>
                        
                                        </div>
                        
                                    </footer>
                                
                                </section>
                                
                            </div>
                    
                        </section>
    
                    </section>
    
                </aside>

                <aside class="col-lg-6 b-l no-padder">
                            
                    <section class="vbox">
                        
                        <section class="scrollable">
                            
                            <div class="wrapper">

                                <section class="panel panel-default">
                                
                                    <header class="panel-heading font-bold">Select Brands and Categories</header>
                                    
                                    <div class="panel-body">
                                        
                                        <form class="form-inline" role="form">
                                            
                                            <div class="row">
                                                
                                                <div class="col-lg-12">
                                                
                                                    <section class="row m-l-none m-r-none m-b text-center">
                                                    
                                                        <a href="#modal-form" data-toggle="modal">
                                                            <div class="col-xs-2">
                                                                <div class="wrapper">
                                                                    <i class="fa fa-desktop fa fa-3x m-t m-b-sm"></i>
                                                                    <p class="text-muted font-bold">Desktop</p>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        
                                                        <a href="#modal-form" data-toggle="modal">
                                                            <div class="col-xs-2">
                                                                <div class="wrapper">
                                                                    <i class="fa-camera-retro fa fa-3x m-t m-b-sm"></i>
                                                                    <p class="text-muted font-bold">Camera</p>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        
                                                        <a href="#modal-form" data-toggle="modal">
                                                            <div class="col-xs-2">
                                                                <div class="wrapper">
                                                                    <i class="fa fa-mobile fa fa-3x m-t m-b-sm"></i>
                                                                    <p class="text-muted font-bold">Mobile</p>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        
                                                        <a href="#modal-form" data-toggle="modal">
                                                            <div class="col-xs-2">
                                                                <div class="wrapper">
                                                                    <i class="fa fa-laptop fa fa-3x m-t m-b-sm"></i>
                                                                    <p class="text-muted font-bold">Laptop</p>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        
                                                        <a href="#modal-form" data-toggle="modal">
                                                            <div class="col-xs-2">
                                                                <div class="wrapper">
                                                                    <i class="fa-tablet fa fa-3x m-t m-b-sm"></i>
                                                                    <p class="text-muted font-bold">Tablet</p>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        
                                                        <a href="#modal-form" data-toggle="modal">
                                                            <div class="col-xs-2">
                                                                <div class="wrapper">
                                                                    <i class="fa fa-keyboard-o fa fa-3x m-t m-b-sm"></i>
                                                                    <p class="text-muted font-bold">Accesories</p>
                                                                </div>
                                                            </div>
                                                        </a>

                                                    </section>
                                                
                                                </div>
                                            
                                            </div>
                                                    
                                        </form>
                                    
                                    </div>
                                            
                                </section>

                            </div>
                                    
                        </section>
                                
                    </section>              
                            
                </aside>

            </section>

        </section>

        <div class="modal fade" id="modal-form">
        
            <div class="modal-dialog">
            
                <div class="modal-content">
                
                    <div class="modal-body wrapper-lg">
                    
                        <div class="row">
                        
                            <div class="col-sm-12">
                                <div class="col-sm-10">
                                    <h3 class="m-t-none m-b">Brands</h3>
                                </div>
                            </div>

                            <div class="col-sm-6 b-r">

                                <form role="form">
                                    
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            
                                            <div class="checkbox i-checks">
                                                <label>
                                                    <input type="checkbox" value="">
                                                    <i></i>
                                                    Brand One
                                                </label>
                                            </div>

                                            <div class="checkbox i-checks">
                                                <label>
                                                    <input type="checkbox" value="">
                                                    <i></i>
                                                    Brand Two
                                                </label>
                                            </div>

                                            <div class="checkbox i-checks">
                                                <label>
                                                    <input type="checkbox" value="">
                                                    <i></i>
                                                    Brand Three
                                                </label>
                                            </div>

                                        </div>
                                    </div>
                                
                                </form>

                            </div>

                            <div class="col-sm-6">

                                <form role="form">
                                    
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            
                                            <div class="checkbox i-checks">
                                                <label>
                                                    <input type="checkbox" value="">
                                                    <i></i>
                                                    Brand Four
                                                </label>
                                            </div>

                                            <div class="checkbox i-checks">
                                                <label>
                                                    <input type="checkbox" value="">
                                                    <i></i>
                                                    Brand Five
                                                </label>
                                            </div>

                                            <div class="checkbox i-checks">
                                                <label>
                                                    <input type="checkbox" value="">
                                                    <i></i>
                                                    Brand Six
                                                </label>
                                            </div>

                                        </div>
                                    </div>
                                
                                </form>

                            </div>

                            <div class="line line-dashed b-b line-lg pull-in"></div>

                            <div class="col-sm-12">
                                <form role="form">

                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <button type="submit" class="btn btn-default">Cancel</button>
                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>

                                </form>
                            </div>    

                        </div>          
                    
                    </div>
                
                </div>
            
            </div>
        
        </div>

        <!-- JS -->
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.js"></script>

        <script src="js/app.js"></script>  
        <script src="js/slimscroll/jquery.slimscroll.min.js"></script>
        <script src="js/app.plugin.js"></script>

    </body>

</html>