<section class="vbox">
            
    <%= render 'header' %>

    <section class="hbox stretch">
                
        <aside class="aside-lg bg-light lter b-r">
                
            <section class="vbox">
            
                <section class="scrollable">
                            
                    <div class="wrapper">
                            
                        <section class="panel no-border bg-dark lt m-b-none">
                                   
                            <div class="panel-body">
                                    
                                <div class="row m-t-xl">
                                            
                                    <div class="col-xs-3 text-right padder-v"></div>
                                    
                                    <div class="col-xs-6 text-center">
                                    
                                        <div class="inline">
                                        
                                            <div class="thumb-lg avatar">
                                                <img src="images/1.jpg" class="dker">
                                            </div>
                                        
                                            <div class="h4 m-t m-b-xs font-bold text-lt">Vedant Agarwala</div>
                                        
                                        </div>
                                    
                                    </div>
                                    
                                    <div class="col-xs-3 padder-v"></div>
                                
                                </div>
                                    
                                <div class="wrapper m-t m-b">
                                        
                                    <div class="row m-b">
                                                
                                        <div class="col-xs-6 text-right">
                                            <small>Contact No.</small>
                                            <div class="text-lt font-bold">01234567890</div>
                                        </div>
                                                
                                        <div class="col-xs-6">
                                            <small>Email</small>
                                            <div class="text-lt font-bold">contact@instano.in</div>
                                        </div>
                                            
                                    </div>
                                        
                                    <div class="row m-b">
                                    
                                        <div class="col-xs-12 text-center">
                                            <small>Shop Name</small>
                                            <div class="text-lt font-bold">Instano - Hit Stores Around</div>
                                        </div>
                                    
                                    </div>

                                    <div class="row">
                                    
                                        <div class="col-xs-12 text-center">
                                            <small>Address</small>
                                            <div class="text-lt font-bold">123, Koramangala, Bangalore</div>
                                        </div>
                                    
                                    </div>
                                        
                                </div>
                                    
                            </div>
                                
                            <footer class="panel-footer dk text-center no-border">
                        
                                <div class="row pull-out">
                
                                    <div class="col-xs-6">
                
                                        <div class="padder-v">
                                            <span class="m-b-xs h3 block text-white">24</span>
                                            <small class="text-muted">Brands</small>
                                        </div>
                
                                    </div>
                
                                    <div class="col-xs-6 dker">
                
                                        <div class="padder-v">
                                            <span class="m-b-xs h3 block text-white">5</span>
                                            <small class="text-muted">Categories</small>
                                        </div>
                
                                    </div>
                
                                </div>
                
                            </footer>
                        
                        </section>
                        
                    </div>
            
                </section>

            </section>

        </aside>

        <aside class="col-lg-6 b-l no-padder">
                    
            <section class="vbox">
                
                <section class="scrollable">
                    
                    <div class="wrapper">

                        <section class="panel panel-default">
                        
                            <header class="panel-heading font-bold">Edit Profile</header>
                            
                            <div class="panel-body">
                                
                                <form class="form-horizontal" id="geocoding_form" method="get">
                            
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="input-id-1">Name</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="input-id-1">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Email</label>
                                        <div class="col-sm-10">
                                            <input type="email"  class="form-control" placeholder="Email" disabled>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Password</label>
                                        <div class="col-sm-5">
                                            <input type="password" name="password" class="form-control">
                                        </div>
                                        <div class="col-sm-5">
                                            <input type="password"  class="form-control" placeholder="Retype Password">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Contact No.</label>
                                        <div class="col-sm-10">
                                            <input type="text"  class="form-control" placeholder="Contact No.">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Profile Pic</label>
                                        <div class="col-sm-10">
                                            <input type="file" class="filestyle" data-icon="false" data-classButton="btn btn-default" data-classInput="form-control inline v-middle input-s">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-10 col-sm-offset-2">
                                            <a href="#" class="btn btn-s-md btn-warning">Uploading</a>
                                            <a href="#" class="btn btn-s-md btn-success">Uploaded</a>
                                            <a href="#" class="btn btn-s-md btn-danger">Cancel</a>
                                        </div>
                                    </div>

                                    <div class="line line-dashed b-b line-lg pull-in"></div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Shop Name</label>
                                        <div class="col-sm-10">
                                            <input type="text"  class="form-control" placeholder="Shop Name">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Address</label>
                                        <div class="col-sm-10">
                                            <div class="input-group">
                                                <input type="text" id="address" name="address" class="form-control" placeholder="Search">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" type="submit">Go!</button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <section id="gmap_geocoding" style="min-height:240px;"></section>

                                    <div class="line line-dashed b-b line-lg pull-in"></div>

                                    <div class="form-group">
                                        <div class="col-sm-4 col-sm-offset-2">
                                            <button type="submit" class="btn btn-default">Cancel</button>
                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                        
                                </form>
                            
                            </div>
                                    
                        </section>

                    </div>
                            
                </section>
                        
            </section>              
                    
        </aside>

    </section>

</section>
