<!DOCTYPE html>
<html lang="en" class="app">

    <body class="intro">

        <section id="content" class="m-t-lg wrapper-md animated fadeInUp">

            <div class="container aside-xl">
                <a class="navbar-brand block" href="index.html"><img src="images/logo.png" class="m-r-sm" alt="instano"></a>

                <section class="m-b-lg">

                    <header class="wrapper text-center">
                        <strong>Sign up to setup your virtual store</strong>
                    </header>

                    <form action="index.html">

                        <div class="list-group">

                            <div class="list-group-item">
                                <input placeholder="Name" class="form-control no-border">
                            </div>

                            <div class="list-group-item">
                                <input type="email" placeholder="Email" class="form-control no-border">
                            </div>

                            <div class="list-group-item">
                                <input type="password" placeholder="Password" class="form-control no-border">
                            </div>

                        </div>

                        <div class="checkbox m-b">
                            <label>
                                <input type="checkbox">I agree to the <a href="#">terms and policy</a>
                            </label>
                        </div>

                        <button type="submit" class="btn btn-lg btn-primary btn-block">Sign Up</button>

                        <div class="line line-dashed"></div>

                        <p class="text-muted text-center"><small>Already have an account?</small></p>
                        <a href="signin.html" class="btn btn-lg btn-default btn-block">Sign In</a>

                    </form>

                </section>

            </div>

        </section>

        <!-- Footer -->
        <footer id="footer">

            <div class="text-center padder">
                Copyright &copy; <b>Instano</b> 2014
            </div>

        </footer>

        <!-- JS -->
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.js"></script>

        <script src="js/app.js"></script>
        <script src="js/slimscroll/jquery.slimscroll.min.js"></script>
        <script src="js/app.plugin.js"></script>


    </body>

</html>
